APP_PORT=8080
DB_HOST=mysql
DB_PORT=3306
DB_NAME=mydatabase
DB_USERNAME=myuser
DB_PASSWORD=mypassword
MAIL_SENDER=
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
JWT_SECRET=xin_chao_ban!_day_la_du_an_uit_land_cho_do_an_1_cua_minh!_xin_cam_on_ban_da_doc_du_an_nay
JWT_REFRESH_EXPIRATION=
JWT_ACCESS_EXPIRATION=
APP_CLIENT_BASE_URL=http://localhost:3000
