# Database Configuration
DB_HOST=mysql
DB_PORT=3306
DB_NAME=mydatabase
DB_USERNAME=myuser
DB_PASSWORD=secret

# Mail Server Configuration
MAIL_SENDER=email
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=email
MAIL_PASSWORD=app-password

# JWT Security Configuration
JWT_SECRET=xin_chao_ban!_day_la_du_an_uit_land_cho_do_an_1_cua_minh!_xin_cam_on_ban_da_doc_du_an_nay
JWT_ACCESS_TOKEN_EXPIRATION=3600000
JWT_REFRESH_TOKEN_EXPIRATION=86400000

# Application Configuration
FRONTEND_BASE_URL=http://localhost:3000

# Others Configuration
APP_PORT=8080

#VNPAY
VNPAY_TMN_CODE=
VNPAY_SECRET_KEY=